<div class="card-content">
    <div class="card-img">
        <img src="https://placeimg.com/380/230/nature" alt="">
        <span><h4>{{Posicion}}</h4></span>
    </div>
    <div class="card-desc">
        <span><h4>{{Destino.nombre}}</h4></span>
        <ul>
            <li *ngFor="let serv of Destino.Servicios">
                <span [ngSwitch]="serv">
                    <i *ngSwitchCase="'Desayuno'">{{serv}}</i>
                    <i *ngSwitchDefault>{{serv}}</i>
            </span>
            </li>
        </ul>
        <div>
            <a href="#" (click)="voteup()"><i class="material-icons md-18">thumb_up</i></a>
            <a href="#" (click)="voteDown()"><i class="material-icons md-18">thumb_down</i></a>
            <a href="#" (click)="voteDown()"><i class="material-icons md-18">thumb_down</i></a>
            <a href="#" (click)="resetVotes()"><i class="material-icons md-18">autorenew</i></a>          
            {{Destino.Votes}}
        </div>
        <a href="#" class="btn-card" (click)="ir()">Elegir favorito</a>
        <span *ngIf="Destino.IsSelected()"><strong>-Favorito-</strong></span>
        <a [routerLink]="['/detalles']">Descripcion</a>
    <!-- <span ngNonBindable>{{Posicion}}</span>-->   
    </div>
</div>