<form [formGroup]="fg" (ngSubmit)="guardar(fg.controls['nombre'].value,fg.controls['url'].value)">
    <div class="form-group">
        <label for="nombre">Nombre Destino</label>
        <input type="text" class="form-control" id="nombre" placeholder="Ingresar el nombre del destino" [formControl]="fg.controls['nombre']">
        <ul>
            <li *ngFor="let r of SearchResult">{{r}}</li>
        </ul>
        <small class="text-muted" *ngIf="fg.controls['nombre'].hasError('required')">Ingrese un destino es obligatorio</small>
        <small class="text-muted" *ngIf="fg.controls['nombre'].hasError('invalidNombre')">Ingrese un nombre mayor a 5 caracteres</small>
        <small class="text-muted" *ngIf="fg.controls['nombre'].hasError('invalidNombreParametrizable')">Ingrese un nombre mayor a {{minLength}} caracteres</small>
        
    </div>
    <div class="form-group">
        <label for="Imagen	Url">Imagen Url</label>
        <input type="text" class="form-control" id="imagenUrl" placeholder="Ingrese una url" [formControl]="fg.controls['url']">
        <small class="text-muted" *ngIf="fg.controls['url'].hasError('required')">Ingrese una url es obligatorio</small>
    </div>
    <button type="submit" class="btn btn-primary" *ngIf="fg.valid">Guardar!</button>
</form>