<div class="container	content">
    <div class="row">
        <div class="col-md-6	offset-md-3">
            <span class="anchor" id="formLogin"></span>
            <!-- form	card	login	with	validation	feedback	-->
            <div class="card	card-outline-secondary">
                <div class="card-header">
                    <h3 class="mb-0">Registrar Destinos</h3>
                </div>
                <div class="card-body">
                   <app-formulario-destino (onItemAdded)="agregar($event)"></app-formulario-destino>
                </div>
            </div>
        </div>
    </div>
    <hr class="mb-5">
    <div class="row">
        <app-destino-viaje 
        *ngFor="let d of all; let i=index" 
        [Destino]="d"
        [Posicion]="i+1"
        (Clicked)="elegir($event)"
        ></app-destino-viaje>
    </div>
    <hr class="mb-5">
    <h2>Registro de cambios</h2>
    <div class="row">
       <ul>
           <li *ngFor="let fav of Update;">{{fav}}</li>
       </ul>
   </div>
</div>